extends layout

block content
  h1= title
  p Welcome to #{title}



  p This is automatic text generated depending on the content on the screen.
  ul
    li line 1
    li line 2
    li line 3
    li #{subtitle2}
